# Security Header
#Header set Content-Security-Policy "default-src 'self'; script-src 'self' *.cloudflare.com *.manuel-steinberg.de; child-src 'self' *.manuel-steinberg.de; connect-src 'self'; img-src 'self' *.cloudflare.com *.manuel-steinberg.de; style-src 'self' unpkg.com fonts.googleapis.com; font-src 'self' fonts.gstatic.com;"
Header set Strict-Transport-Security "max-age=10886400; includeSubDomains; preload" env=HTTPS
Header set X-Xss-Protection "1; mode=block"
Header set X-Content-Type-Options nosniff
Header set X-Frame-Options SAMEORIGIN

# Disable Server Signature
ServerSignature Off
FileETag None

# Charset
AddDefaultCharset UTF-8

# Force HTTPS + WWW (Only For Production)
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} !^www
RewriteRule ^(.*) https://www.manuel-steinberg.de/$1 [L,R=301]
RewriteCond %{HTTPS} off
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
</IfModule>

# Deny Access To .htaccess
<FilesMatch "(\.htaccess|\.htpasswd|\.gitignore|\.gitmodules)">
 order deny,allow
 deny from all
</FilesMatch>

