/* ------------------------------------------------------------------------- */
.layout {
    width: 100vw;
    display: flex;
}

.layout > .sidebar {
    min-height: 100vh;
    background-color: grey;
    color: white;
    margin: 0;
    width: calc(100vw/12*3);
    display: flex;
    align-items: baseline;
    float: left;

}

.layout > .content {
    color: black;
    margin: 0;
    width: calc(100vw/12*9);
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: space-between;
}

body {
    overflow-x: hidden;
}

.header {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    position: sticky;
    top: calc(35vh);
    margin-top: calc(35vh);
}

.header > h1 {
    margin: auto;
    text-align: center;
}

.header > p#i-am {
    text-align: center;
}

div.social-buttons {

    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.breadcromb {
    display: flex;
    justify-content: center;
    flex-flow: row;
}

.breadcromb > a {
    border: 2px solid darkgray;
    padding: 0.25rem 0.25rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    letter-spacing: .05rem;
    margin: 0rem 0.25rem;
    word-break: unset;
    display: inline-block;
}

.article {
    margin: 1rem 5rem;
    padding-bottom: 1rem;
}

.article > a {
    display: block;
}

.article > h2, .article > p, .article > a, .article > div {
    margin: auto;
    padding: 0rem 1rem;
}

hr {
    width: 80%;
    margin: 0.5rem auto;
}

.footer {
    display: flex;
    bottom: 0rem;
    position: sticky;
    width: inherit;
    justify-content: center;
    background-color: white;
    padding: 1.5rem 0;
    margin-top: 2rem;
    box-shadow: inset 0 2px 15px -10px black;
}

.copyright {
    text-align: center;
    margin-bottom: -1rem;
}

.footer > .breadcromb {
    display: none;
}

.article figure {
    text-align: center;
}

.article figure img {
    margin: auto;
    max-width: 85%;
}

iframe {
    width: 100%;
    border: none;
    margin: 2rem 0rem;
    height: 100%;
}

/* ------------------------------------------------------------------------------------ */
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 680px) {

    .layout {
        display: block;
    }

    .layout > .sidebar {
        width: 100vw;
        min-height: unset;
        padding: 2rem 0;
    }

    .layout > .content {
        width: 100vw;
        justify-content: unset;
        height: unset;
    }

    .article {
        margin: 1rem 2rem 1rem 2rem;
    }

    .header {
        margin-top: unset;
    }

    .header > .breadcromb {
        display: none;
    }
    .footer > .breadcromb {
        display: block;
    }
    .footer > .navigation {
        display: none;
    }
}

/* --------------------------------------------------------------------------------------------------------------- */
